body {background-color: #F7C955}

.marron {color: #725819}

.negro {color: #080600}

.marron { font-size: 3vw; }

.negro { font-size: 2vw; }

h1 {text-decoration: underline;}

h2 {text-decoration: underline;}

.imagen {width: auto;}


header {background-color: white
        padding: 30px;
        border: 3px solid ;}

nav {background-color: red;
     margin: 30px ;
     padding: 20px ;
     border: 3px solid;}

section { background-color: white;
      margin: 30px ;
      padding: 20px ;
      border: 3px solid;}

aside {background-color: orange;
       margin: 30px ;
       padding: 20px ;
       border: 3px solid; }

footer {background-color: green;
       margin: 30 px;
       padding: 20px;
       border: 3px solid;}
